@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #2A5C54;
  --text: #F5F5F5;
  --hover: #87CEEB;
  --border: #e5e7eb; /* gray-200 */
  --btn: #CC7357;
  --btnh: #FF6F61;
  --secbtn: #8A9B6E;
  --secbtnh: #6D6D6D;
}

@layer components {
  input {
    @apply w-[400px] py-2 px-6 bg-zinc-100/40 border;
    border-color: var(--border);
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5F5F5;
}
